In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pystan
import seaborn as sns
%matplotlib inline

In [8]:
plt.style.use('ggplot')

In [9]:
df = pd.read_excel('./real_estate2.xlsx', engine='openpyxl')

In [10]:
df.head()

   id station distance  space  room  year type  value
0   1       Y  徒歩10分以内     70  3LDK  1983    -    910
1   2       Y  徒歩10分以内     70  2LDK  1983    D   1120
2   3       Y  徒歩10分以内     70  2LDK  1983    A   1190
3   4       Y  徒歩10分以内     70  4LDK  1983    A   1190
4   5       Y  徒歩10分以内     70  4LDK  1983    A   1190

In [11]:
df['elapsed'] = 2021 - df['year']

In [12]:
df['distance'].unique()

array(['徒歩10分以内', '徒歩15分以内', '徒歩5分以内', '徒歩15分超', 'バス', '-'], dtype=object)

In [13]:
dis_arr = df['distance'].unique()

In [ ]:
stan_model = """
data {
  int N;
  real X1[N];
  real X2[N];
  real X3[N];
  real Y[N];
}

parameters {
  real d;
  real s;
  real e;
  real b;
  real<lower=0> sigma;
}

model {
  for (n in 1:N){
    Y[n] ~ normal(d * X1[n] + s * X2[n] + e * X3[n] + b, sigma);
  }
}
"""